html, body {
  height: 100%;
  width: 100%;
}

.nav {
  background-color: rgb(120, 120, 120);
  color: white;
}

.navb {
  background-color: rgb(70, 70, 70);
  color: white;
  font-family: sans-serif;
  text-decoration: inherit;
  font-style: bold;
  padding: 7px 7px 7px 7px;
  vertical-align:middle;
  
}

#logo {
  vertical-align: middle;
}

.grandh {
  font-size: xx-large;
}

.head {
  font-size: x-large;
}

.s-head {
  font-size: x-large;
}

.code {
  font-size: large;
}

.text {
  font-size: medium;
}

.c-out {
  font-size: large;
}

.comment {
  font-size: medium;
  color: darkgreen;
}

h6 {
  font-size: smaller;
}

p {
  font-size: x-small;
}

b {
  font-weight:bold;
}